/* MAIN CSS */

:root {
  --color-blue-dark: #212e40;
  --color-orange: #ff4500;
  --color-white: #fff;
  --color-grayscale: #7a818c;
  --color-grayscale-dark: #46404a;
  --color-blue-light: #b5d4e8;
  --color-blue: #5a718d;
}

.bg-orange {
  background-color: var(--color-orange);
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-grayscale-dark {
  background-color: var(--color-grayscale-dark);
}

.wrapper {
  font-family: 'Open Sans', sans-serif;
  background: var(--color-blue-dark);
  min-height: 100vh;
  color: var(--color-white);
}

.top-bar .logo {
  width: 200px;
  height: auto;
}

.top-bar .launch {
  font-size: 12px;
}

.top-bar .launch i {
  background-color: var(--color-white);
  border-radius: 10px;
}

.wrapper-icons .icon {
  background: var(--color-grayscale-dark);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 65px;
  vertical-align: middle;
  margin: 0 auto;
}

.wrapper-icons p {
  font-size: 0.8rem;
  text-align: center;
  padding-top: 15px;
}

.icon a svg {
  color: var(--color-white);
  width: auto;
  height: 20px;
}

.card {
  background: transparent;
  border: #413d49 solid 1px;
  border-radius: 0;
  padding: 40px;
  font-size: 0.9rem;
}

.btn-link {
  color: var(--color-white);
  font-weight: bold;
}

.btn-link:hover {
  background: none;
  color: var(--color-blue-light);
  transition: all .3s;
}

/* ANIMATION INIT */
.blob {
  border-radius: 50%;
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  margin: 10px;
  padding: 0px 8px;
  transform: scale(1);
}

.blob.red {
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-red 2s infinite;
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 8s ease-in-out infinite both;
  animation: pulsate-fwd 8s ease-in-out infinite both;
}


.arrow {
  position: relative;
  top: -15px;
  /* left: 50%; */
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--color-blue-light);
  border-right: 5px solid var(--color-blue-light);
  transform: rotate(45deg);
  margin: -10px;
  animation: arrow 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}


/* HEADER */
.header {
  position: relative;
  background: var(--color-blue-dark);
  height: 95vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.header .video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.header .container-video {
  position: relative;
  z-index: 2;
}

.header .container-video .btn-outline-primary {
  border: solid 1px var(--color-white);
  color: var(--color-white);
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

#form-contact-header {
  background-color: var(--color-blue-dark);
  padding: 20px 60px;
}

#form-contact-header .title {
  font-size: 1.5rem;
}

#form-contact-header .title span {
  font-size: 0.8rem;
  font-weight: bold;
}

/* DEFAULT CUSTOMIZATION FORM */
.form-custom .form-outline .form-control~.form-notch {
  display: none;
}

.form-custom .form-outline .form-control~.form-label,
.form-custom .form-outline .form-control {
  color: var(--color-white);
  padding-left: 0;
  left: 0;
}

.form-custom .form-outline .form-control:focus~.form-label {
  color: var(--color-orange);
}

.form-custom .form-outline {
  border-bottom: 1px solid var(--color-white);
}

.form-custom .form-select {
  background-color: transparent;
  color: var(--color-white);
  border: none;
  border-bottom: var(--color-white) solid 1px;
  border-radius: 0;
  padding-left: 0;
  margin-left: 10px;
  width: 94%;
}

.form-custom .form-select option {
  color: #212631;
  background-color: transparent;
}

.form-custom .txt-lgpd {
  font-size: xx-small;
  text-align: left;
}

.form-custom .btn-send {
  background: #212631;
  color: var(--color-white);
  animation: pulse;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  /* don't forget to set a duration! */
}

/* ------------------------------ */


svg {
  width: auto;
  height: 15px;
}

/* ABOUT */
.about .img-about {
  position: relative;
  top: -100px;
  z-index: 999;
}

.about .address {
  font-weight: 800;
  font-size: 0.8rem;
}

.about .mt-custom {
  margin-top: 50px;
}

.stroke::before {
  content: 'Comercial';
  font-family: 'Permanent Marker', cursive;
  font-size: 7rem;
  color: var(var(--color-white));
  opacity: 0.03;
  font-weight: bolder;
  text-transform: uppercase;
  position: relative;
  bottom: -10px;
}

.commercial .video {
  width: 100%;
  height: 350px;
}


/* EXPERIENCE */

.experience {
  padding: 120px 60px;
}

.card-experience .card-title {
  font-size: 1.5rem;
  margin-bottom: 50px;
}


/* GALLERY */

.gallery {
  padding: 60px 60px;
}


.gallery .pills-primary .nav-item .nav-link.active {
  color: var(--color-white) !important;
}

.gallery .nav-pills .nav-link {
  color: var(--color-grayscale);
  background-color: transparent;
  font-size: 1rem;
  padding: 0;
  text-align: left;
  margin-top: 20px;
  height: 28px;
}

.gallery .nav-pills .nav-link.active {
  border-bottom: var(--color-orange) solid 3px;
  border-radius: 0px;
}

.gallery .nav-pills .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2.5px;
  margin-top: 20px;
  background: var(--color-orange);
  transition: width .3s;
  position: relative;
  top: -10.5px;
}

.gallery .nav-pills .nav-link:hover::after {
  width: 100%;
  /*transition: width .3s;*/
}

/* POLO CONNECT */
.polo-connect {
  padding: 80px 60px;
}

.polo-connect h2 {
  font-weight: bold;
}

.polo-connect h2 span {
  font-weight: 200;
  font-size: 20px;
}

/* DIFERENTIALS */

.diferentials {
  padding: 80px 60px;
}

.diferentials h2 {
  font-weight: bold;
  text-transform: uppercase;
}

.diferentials h2 span {
  font-weight: 200;
  text-transform: initial;
}


/* LOCALIZATION */

.localization {
  padding: 20px 40px 120px;
}

.localization .title {
  font-size: 2rem;
}

.localization .address {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 30px 20px;
  margin-bottom: 0;
}

#form-route-address {
  padding: 20px 20px;
}


/* INTEREST */

.interest {
  background-image: linear-gradient(to bottom, rgba(48, 48, 48, 0.5), rgba(27, 27, 27, 0.5)), url('https://ik.imagekit.io/8z4sc6x4w/Dec9/Construtora_Polo/agite-as-maos-para-o-sucesso.jpg?updatedAt=1680293218872');
  background-size: cover;
  padding: 120px 40px;
}

.interest h2 {
  font-size: 2.5rem;
  background: linear-gradient(#b5d4e8, #5a718d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#b5d4e8, #5a718d);
  background: -moz-linear-gradient(#b5d4e8, #5a718d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
}

#form-request-quote {
  background: linear-gradient(#3c3b49, #3c3b49) 50% 50%/calc(100% - 8px) calc(100% - 8px) no-repeat,
    linear-gradient(0deg, transparent 0%, #666772 100%);
  background: -webkit-linear-gradient(#3c3b49, #3c3b49) 50% 50%/calc(100% - 8px) calc(100% - 8px) no-repeat,
  -webkit-linear-gradient(0deg, transparent 0%, #666772 100%);
  background: -moz-linear-gradient(#3c3b49, #3c3b49) 50% 50%/calc(100% - 8px) calc(100% - 8px) no-repeat,
  -moz-linear-gradient(0deg, transparent 0%, #666772 100%);
  border-radius: 0px;
  padding: 8px;
  box-sizing: border-box;
  padding: 40px;
  backdrop-filter: blur(2px);
}

/* RESPONSIVE */

@media(max-width:768px) {
  .about .img-about {
    position: relative;
    top: initial;
    margin-top: 120px;
  }

  .about .mt-custom {
    margin-top: 20px;
  }

  .stroke::before {
    font-size: 3rem;
  }

  .experience {
    margin: 120px initial;
  }

  .card-experience {
    padding: 20px;
  }
}
